* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  line-height: 1.5em;
  scroll-behavior: smooth;
}
a {
  color: rgb(128, 72, 72);
}
body {
  margin: 16px;
  background-color: rgb(231, 216, 216);
  color: rgb(128, 72, 72);
}

.adjustment {
  margin: 10px 0;
  border: 2px solid rgb(90, 44, 44);
  border-radius: 10px;
  padding: 10px;
}
ul li {
  margin: 0.3em;
  list-style-type: none;
}

ul:not(.info) {
  display: flex;
  flex-direction: row;
  gap: 1.5em;
  flex-wrap: wrap;
}
#projects {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
}

.info li {
  list-style-type: circle;
  margin-left: 1em;
}
h2 {
  width: 100%;
  margin-top: 10px;
  margin-bottom: 10px;
}
h3 {
  margin-top: 10px;
  margin-bottom: 10px;
}
.border {
  width: 48%;
  padding: 7px;
  margin: 10px;
}
.active{
    border: 1px solid black;
    background-color: rgb(246, 205, 238);
    border-radius: 10px;
    padding: 10px;
}